In [90]:
import pandas as pd
from pathlib import Path
import numpy as np

In [91]:
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [92]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [93]:
school_data_complete = pd.merge(student_data, school_data, how = "left", on = ["school_name", "school_name"])

In [94]:
individual_school_list = school_data_complete['school_name'].unique()
individual_school_count = len(individual_school_list)

individual_school_count

15

In [95]:
student_id_list = school_data_complete['Student ID'].unique()
individual_student_count = len(student_id_list)

individual_student_count

39170

In [96]:
total_budget = school_data_complete.drop_duplicates(subset = 'budget', keep = 'first')['budget'].sum()

total_budget

24649428

In [97]:
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [98]:
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [99]:
passing_math_count = school_data_complete[(school_data_complete["math_score"]>=70)].count()["student_name"]
math_passing_percentage = passing_math_count / individual_student_count * 100
math_passing_percentage

74.9808526933878

In [100]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
reading_passing_percentage = passing_reading_count / individual_student_count * 100
reading_passing_percentage

85.80546336482001

In [101]:
passing_overall_count = school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)].count()["student_name"]
overall_passing_percentage = passing_overall_count / individual_student_count * 100
overall_passing_percentage

65.17232575950983

In [102]:
district_summary = pd.DataFrame({"Total Schools": [individual_school_count], 
                                 "Total Students": [individual_student_count],
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score],
                                 "Average Reading Score": [average_reading_score],
                                 "% Passing Math": [math_passing_percentage],
                                 "% Passing Reading": [reading_passing_percentage],
                                 "% Overall Passing": [overall_passing_percentage]})




district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [103]:
individual_school_list = school_data_complete.drop_duplicates(subset = "school_name", keep = "first").sort_values(by = "school_name", ascending = True)
school_type = individual_school_list["type"]

In [104]:
students_per_school = school_data_complete.groupby("school_name")["Student ID"].size()
budget_per_school = school_data_complete.groupby("school_name")["budget"].mean()

In [105]:
budget_per_capita = budget_per_school / students_per_school

In [106]:
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

In [107]:
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
students_passing_math_byschool = students_passing_math.groupby("school_name").size()

In [108]:
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
students_passing_reading_byschool = students_passing_reading.groupby("school_name").size()

In [109]:
students_passing_overall = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
students_passing_overall_byschool = students_passing_overall.groupby("school_name").size()

In [110]:
percentage_passing_math_byschool = students_passing_math_byschool / students_per_school * 100
percentage_passing_reading_byschool = students_passing_math_byschool / students_per_school * 100
percentage_passing_overall_byschool = students_passing_overall_byschool / students_per_school * 100

In [111]:
per_school_summary = pd.DataFrame( 
                                  {"School Type": school_type,
                                   "Total Students": students_per_school.to_list(),
                                   "Total School Budget": budget_per_school.to_list(), 
                                   "Per Student Budget": budget_per_capita.to_list(), 
                                   "Average Math Score": per_school_math.to_list(), 
                                   "Average Reading Score": per_school_reading.to_list(), 
                                   "% Passing Math": percentage_passing_math_byschool.to_list(), 
                                   "% Passing Reading": percentage_passing_reading_byschool.to_list(), 
                                   "% Passing Overall": percentage_passing_overall_byschool.to_list()
                                  }).set_index(keys = students_per_school.index)


per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,66.680064,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,94.133477,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,65.988471,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,68.309602,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,93.392371,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,66.752967,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,92.505855,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,65.683922,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,66.057551,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,94.594595,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,66.366592,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,93.867121,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,93.272171,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,93.867718,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,93.333333,90.333333

In [112]:
top_schools = per_school_summary.sort_values(by = "% Passing Overall", ascending = False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,94.133477,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,93.272171,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,93.392371,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,93.867718,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,94.594595,90.540541

In [113]:
top_schools = per_school_summary.sort_values(by = "% Passing Overall", ascending = True)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,66.366592,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,65.988471,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,65.683922,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,66.752967,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,66.057551,53.539172

In [114]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_graders_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_graders_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_graders_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_graders_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

math_scores_by_grade = pd.DataFrame({"9th": ninth_graders_math_scores.to_list()  ,
                                     "10th": tenth_graders_math_scores.to_list() , 
                                     "11th": eleventh_graders_math_scores.to_list() , 
                                     "12th": twelfth_graders_math_scores.to_list(), }).set_index(ninth_graders_math_scores.index)

math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [115]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_graders_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_graders_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_graders_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_graders_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

reading_scores_by_grade = pd.DataFrame({"9th": ninth_graders_reading_scores.to_list()  ,
                                     "10th": tenth_graders_reading_scores.to_list() , 
                                     "11th": eleventh_graders_reading_scores.to_list() , 
                                     "12th": twelfth_graders_reading_scores.to_list(), }).set_index(ninth_graders_reading_scores.index)

reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [116]:
spending_bins = [0, 585, 630, 645, 680]
labels =  ["<$585", "$585-630", "$630-645", "$645-680"]

school_spending_df = per_school_summary.copy()

school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], 
                                                             spending_bins, labels = labels,
                                                             include_lowest = True)

school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,66.680064,54.642283,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,94.133477,91.334769,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,65.988471,53.204476,$630-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,68.309602,54.289887,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,93.392371,90.599455,$585-630
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,66.752967,53.527508,$645-680
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,92.505855,89.227166,<$585
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,65.683922,53.513884,$645-680
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,66.057551,53.539172,$645-680
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,94.594595,90.540541,$585-630
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,66.366592,52.988247,$630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,93.867121,89.892107,$585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,93.272171,90.948012,$630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,93.867718,90.582567,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,93.333333,90.333333,<$585

In [117]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
spending_passing_overall = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Overall"].mean()

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_13192\2980785142.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_13192\2980785142.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_13192\2980785142.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_13192\2980785142.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_13192\2980785142.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_overall = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Overall"].mean()

In [118]:
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores.to_list(),
                                "Average Reading Score": spending_reading_scores.to_list(),
                                "% Passing Math": spending_passing_math.to_list() ,
                                "% Passing Reading": spending_passing_reading.to_list() ,
                                "% Overall Passing": spending_passing_overall.to_list() }).set_index(spending_math_scores.index)

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,93.460096,90.369459
$585-630,81.899826,83.155286,87.133538,87.133538,81.418596
$630-645,78.518855,81.624473,73.484209,73.484209,62.857656
$645-680,76.997210,81.027843,66.164813,66.164813,53.526855

In [119]:
size_bins = [0, 1000, 2000, 5000]
labels =  ["Small(<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], 
                                                             size_bins, labels = labels,
                                                             include_lowest = True)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,66.680064,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,94.133477,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,65.988471,53.204476,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,68.309602,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,93.392371,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,66.752967,53.527508,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,92.505855,89.227166,Small(<1000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,65.683922,53.513884,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,66.057551,53.539172,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,94.594595,90.540541,Small(<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,66.366592,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,93.867121,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,93.272171,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,93.867718,90.582567,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,93.333333,90.333333,Medium (1000-2000)

In [120]:
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Passing Overall"].mean()

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_13192\3526742551.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_13192\3526742551.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_13192\3526742551.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_13192\3526742551.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_13192\3526742551.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary.groupby(["School Size"])["% Passing Overall"].mean()

In [121]:
size_summary = pd.DataFrame({"Average Math Score": size_math_scores.to_list(),
                                "Average Reading Score": size_reading_scores.to_list(),
                                "% Passing Math": size_passing_math.to_list() ,
                                "% Passing Reading": size_passing_reading.to_list() ,
                                "% Overall Passing": size_overall_passing.to_list() }).set_index(size_math_scores.index)

size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small(<1000),83.821598,83.929843,93.550225,93.550225,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,93.599695,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,69.963361,58.286003

In [122]:
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_passing_overall_by_type = per_school_summary.groupby(["School Type"])["% Passing Overall"].mean()

In [123]:
type_summary = pd.DataFrame({"Average Math Score": average_math_score_by_type.to_list(),
                                "Average Reading Score": average_reading_score_by_type.to_list(),
                                "% Passing Math": average_percent_passing_math_by_type.to_list() ,
                                "% Passing Reading": average_percent_passing_reading_by_type.to_list() ,
                                "% Overall Passing": average_percent_passing_overall_by_type.to_list() }).set_index(average_math_score_by_type.index)

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,93.620830,90.432244
District,76.956733,80.966636,66.548453,66.548453,53.672208

In [132]:
print("Conclusions")
print("\n")
print("- Based on our analysis, we can observe that charter schools have a higher overall pass rate.")
print("  More students are passing both their Math and Reading classes in charter schools than in district schools. ")
print("\n")
print("- Based on our individual school summary, we can also observe that charter schools appear to place an equal weight")
print("  on their Stem and Humanities education, as their Math and Reading scores tend to be very similar.")
print("  However, district schools seem to place more weight on their Stem education, as their Math scores tend to be higher")
print("  than their reading scores.")

Conclusions


- Based on our analysis, we can observe that charter schools have a higher overall pass rate.
  More students are passing both their Math and Reading classes in charter schools than in district schools.


- Based on our individual school summary, we can also observe that charter schools appear to place an equal weight
  on their Stem and Humanities education, as their Math and Reading scores tend to be very similar.
  However, district schools seem to place more weight on their Stem education, as their Math scores tend to be higher
  than their reading scores.